
.node {
    stroke: black;
    stroke-width: 0;
}


.link {
    stroke: lightgray;
    stroke-width: 1px;
}

.text {
    font-family: Calibri;
    font-size: 12px;
    color: black;
}

#force {
    border: 1px solid black;
}

#timer {
    font-weight: bold;
}

#score {
    font-weight: bold;
}

#message {
    font-weight: bold;
}

#restart {

}
